body { 
	margin: 0;
	font-family: 'Nothing You Could Do', cursive; 
}

#container {
	width: 100%;
	height: 100%;
	position: relative;
}

#container canvas, .riddleContainer {
  position: absolute;
}

canvas { 
	width: 100%; 
	height: 100%; 
}

.riddleContainer {
	display: none;
	padding: 5%;
	width: 50%;
	height: 200px;
	left: 25%;
	top: 100px;
	background-color: rgba(30, 100, 250, .5);
}

.question {
	font-size: 24px;
	margin: 0 auto;
	text-align: center;
}