body { 
    /* box */
    margin: 0;

    /* text */
    color: white;
    font-family: 'Economica', sans-serif;
    font-weight: 900;
}

.hud {
    /* box */
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 20px;

    /* background */
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;

    /* text */
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.north-hud-label {
    /* box */
    display: block;

    /* background */
    position: absolute;
    left: 75px;
    top: 5px;
    z-index: 2;
}

.south-hud-label {
    /* box */
    display: block;

    /* background */
    position: absolute;
    bottom: 5px;
    left: 75px;
    z-index: 2;
}

.east-hud-label {
    /* box */
    display: block;

    /* background */
    position: absolute;
    bottom: 75px;
    right: 5px;
    z-index: 2;
}

.west-hud-label {
    /* box */
    display: block;

    /* background */
    position: absolute;
    bottom: 75px;
    left: 5px;
    z-index: 2;
}

.container-3d-canvas {
    /* box */
    height: 100%;
    width: 100%;

    /* background */
    position: relative;
}

.threed-canvas, .riddleContainer {
    /* background */
    position: absolute;
}

canvas { 
    /* box */
    height: 100%; 
    width: 100%; 
}

.start-button {
    /* box */
    display: block;
    padding: 5px;
    margin: 0 auto;

    /* text */
    font-family: 'Economica', sans-serif;
    font-size: 24px;
}

.instruction-container {
    /* box */
    height: 200px;
    width: 50%;
    padding: 3%;

    /* background */
    background-color: rgba(30, 100, 250, .7);
    position: absolute;
    left: 25%;
    top: 100px;

    /* text */
    font-size: 24px;
}

.riddleContainer {
    /* box */
    width: 50%;
    height: 250px;
    display: none;
    padding: 3%;

    /* background */
    background-color: rgba(30, 100, 250, .7);
    left: 25%;
    top: 100px;
}

.question {
    /* box */
    margin: 0 auto;
    margin-bottom: 10px;

    /* text */
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.form-input {
    /* box */
    width: 50%;
    display: block;
    padding: 2%;
    margin: 0 auto;
    margin-top: 10px;

    /* text */
    font-size: 24px;
}

input {
    /* box */
    padding: 5px;

    /* text */
    font-family: 'Economica', sans-serif;
    font-size: 24px;
}

.answer-button {
    /* box */
    display: block;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;

    /* text */
    font-family: 'Economica', sans-serif;
    font-size: 24px;
}